svg{
border:2px solid black ;
background-color: aliceblue;
}

/* p{
padding: 3px;
border: 2px solid black;
background-color: aliceblue;
} */

.row{
overflow: auto;
}

div{
border:2px solid black ;
background-color: white;
padding: 10px;
}

.block{
border:2px solid black ;
background-color: white;
padding: 10px;
}

#center{
float: left;
}

#left{
float: left;
}

#right{
float: left;
}

  
.mytable{
border-collapse: collapse;
border: 1px solid black;
}

.mytable th,
.mytable td {
border: 1px solid black;
padding: 8px;
}

.draggable {
resize: both;
overflow: auto;
position: relative;
z-index: 1;
}

#tab-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tab{
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
}

.my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
.my-table th, .my-table td {
border: 1px solid black;
padding: 8px;
}

.my-table th {
background-color: #f2f2f2;
}
  